<nav class="flex flex-col space-y-4">
    {{!-- <a href="/admin/dashboard" class="p-3 bg-gray-800 rounded hover:bg-gray-700 transition">Work History</a> --}}
    <a href="/admin/users" class="p-3 bg-gray-800 rounded hover:bg-gray-700 transition">Users</a>
    {{!-- <a href="/admin/settings" class="p-3 bg-gray-800 rounded hover:bg-gray-700 transition">Settings</a> --}}
    <a href="/logout" class="p-3 bg-red-600 rounded hover:bg-red-500 transition">Logout</a>
</nav>
